[Unit]
Description=Cloudflare DNS discovery for Prometheus file_sd ({{ cf_dns_discovery_zone }})
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/cf-dns-discovery-{{ cf_dns_discovery_zone | replace('.', '_') }}
User=root
