[Unit]
Description=fail2ban textfile collector (oneshot)
Documentation=https://prometheus.io/docs/guides/node-exporter/
After=fail2ban.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fail2ban-textfile-collector
User=root
